body {
    background-color: #fec5e5;
}

.jumbotron {
    text-align: center;
    font-family: 'Rye';
    background-image: url(../images/red-hearts.jpeg);
    margin-top: 25px;
    border: 2px solid red;
}

li {
    display: inline;
}

#friendMatchPhoto {
    height: 300px;
    margin: 5px auto;
    padding-left: 25%;
}

.display-4 {
    font-size: 90px;
    margin-top: 25px;
    background-color: #feffdd;
    width: 80%;
    margin-left: 10%;
    color: #5b5d63;
}

.lead {
    font-size: 30px;
    background-color: #feffdd;
    width: 80%;
    margin-top: 25px;
    margin-left: 10%;
    color: #5b5d63;
}

#test-button, #home-button {
    background-color: #5b5d63;
}

li a {
    color: #5b5d63;
}

.form-group {
    font-family: 'Patrick Hand SC';
    font-size: 24px;
    width: 75%;
}

.question {
    font-family: 'Patrick Hand SC';
    font-size: 24px;
}

.custom-select {
    margin: 10px auto;
    width: 30%;
} 

#submit {
    background-color: #5b5d63;
    margin: 25px auto;
    font-family: 'Patrick Hand SC';
    font-size: 24px;
}

h1, h2 {
    font-family: 'Patrick Hand SC';
}

h1 {
    margin-bottom: 25px;
}

.modal-content {
    background-color: #feffdd;
}

#modalLabel {
    font-family: 'Rye';
    font-size: 36px;
}

#friendMatchName {
    font-family: 'Patrick Hand SC';
    font-size: 36px;
}

.modal-body {
    font-family: 'Patrick Hand SC';
    font-size: 24px;
}

#close-button {
    background-color: #5b5d63;
    font-family: 'Patrick Hand SC';
    font-size: 24px;
}